
body{
    background-color: black;
    color: white;
}

.botaoenvio{
    background-color: green;
    color: yellow;
}

.botaoapagar{
    background-color: antiquewhite;
    color: red;
}
